# Temporal files, compiled modules and log files
common_code/ionization_data/*
models/step*mod

step1_HMS-CO/.mesa_temp_cache
step1_HMS-HMS/.mesa_temp_cache
step1_build_EMS/.mesa_temp_cache
step1_HMS-single/.mesa_temp_cache
step2_RelaxModel/.mesa_temp_cache
step2.1_RelaxModel_EMS_hydro/.mesa_temp_cache
step2.2_RelaxModel_EMS_hydro/.mesa_temp_cache
step3_Inspiral_EMS/.mesa_temp_cache

step1_HMS-CO/LOGS1
step1_HMS-HMS/LOGS1
step1_build_EMS/LOGS
step1_HMS-single/LOGS
step2_RelaxModel/LOGS
step2.1_RelaxModel_EMS_hydro/LOGS
step2.2_RelaxModel_EMS_hydro/LOGS
step3_Inspiral_EMS/LOGS

step1_HMS-CO/photos1
step1_HMS-HMS/photos1
step1_build_EMS/photos
step1_HMS-single/photos
step2_RelaxModel/photos
step2.1_RelaxModel_EMS_hydro/photos
step2.2_RelaxModel_EMS_hydro/photos
step3_Inspiral_EMS/photos

step1_HMS-CO/make/*.o
step1_build_EMS/make/*.o
step1_HMS-HMS/make/*.o
step1_HMS-single/make/*.o
step2_RelaxModel/make/*.o
step2.1_RelaxModel_EMS_hydro/make/*.o
step2.2_RelaxModel_EMS_hydro/make/*.o
step3_Inspiral_EMS/make/*.o

step1_HMS-CO/make/*.mod
step1_build_EMS/make/*.mod
step1_HMS-HMS/make/*.mod
step1_HMS-single/make/*.mod
step2_RelaxModel/make/*.mod
step2.1_RelaxModel_EMS_hydro/make/*.mod
step2.2_RelaxModel_EMS_hydro/make/*.mod
step3_Inspiral_EMS/make/*.mod

step1_HMS-CO/make/*.smod
step1_build_EMS/make/*.smod
step1_HMS-HMS/make/*.smod
step1_HMS-single/make/*.smod
step2_RelaxModel/make/*.smod
step2.1_RelaxModel_EMS_hydro/make/*.smod
step2.2_RelaxModel_EMS_hydro/make/*.smod
step3_Inspiral_EMS/make/*.smod


step1_HMS-CO/star
step1_build_EMS/star
step1_HMS-HMS/star
step1_HMS-single/star
step2_RelaxModel/star
step2.1_RelaxModel_EMS_hydro/star
step2.2_RelaxModel_EMS_hydro/star
step3_Inspiral_EMS/star


step1_HMS-CO/screen.txt
step1_build_EMS/screen.txt
step1_HMS-HMS/screen.txt
step1_HMS-single/screen.txt
step2_RelaxModel/screen.txt
step2.1_RelaxModel_EMS_hydro/screen.txt
step2.2_RelaxModel_EMS_hydro/screen.txt
step3_Inspiral_EMS/screen.txt
